/* Variables */

:root {
    --black: #000000;
    --light-black: #333333;
    --white: #FFFFFF;
    --white-opaque: rgba(255, 255, 255, 0.3);
    --light-blue: #81B3D2;
    --darker-blue: #669EC0;
    --darkest-blue: #5496BD;
    --brown: #766357;
    --darker-brown: #604E43;
    --darkest-brown: #503E33;
    --drop-shadow-white-black: rgba(0, 1, 1, 0.2);
    --background-light-grey: #EEEEEE;
    --filter-background-light-grey: rgba(0, 1, 1, 0.15);
    --filter-input-grey: #F2F2F2;
    --footer-grey: rgba(255, 255, 255, 0.9);
    --main-background-gray: #888888;
}


/* body */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    background-color: var(--white);
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* main navigation */

.site-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}

.site-navigation li {
    list-style: none;
}


/* slogan */

.image {
    background-image: url("http://placehold.it/1200x509/81B3D2/ffffff/?text=WELCOME+TO+GORGEOUSE+SEDONA");
}

.text-slogan {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
    text-align: center;
}


/* features */

ul .feature-item {
    list-style: none;
}

.feature-header {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--light-black);
    text-align: center;
}

.feature-list-header {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}

.feature-list-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--light-black);
    text-align: center;
}

.blue-item {
    background-color: var(--light-blue);
    color: var(--white);
}

.grey-item {
    background-color: var(--background-light-grey);
}


/* advice */

.icon-house,
.icon-food,
.icon-souvenir {
    list-style: none;
}

.item-header {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}

.item-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--light-black);
    text-align: center;
}


/* searching form */

.searching-question {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
}

.searching-form-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--light-black);
    text-align: center;
}

.searching-form-header {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--brown);
    text-align: center;
    vertical-align: middle;
}

.searching-form-header:hover {
    background-color: var(--darker-brown);
}

.searching-form-header:active {
    background-color: var(--darkest-brown);
    color: var(--white-opaque);
}

.search-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    background-color: var(--light-blue);
    color: var(--white);
}

.search-button:hover {
    background-color: var(--darker-blue);
}

.search-button:active {
    background-color: var(--darkest-blue);
    color: var(--white-opaque);
}


/* footer */

.footer-contacts a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
    color: var(--black);
}

.footer-copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
}

ul.social {
    list-style: none;
}

li .social-button {
    background-color: var(--light-blue);
}

li .social-button:hover {
    background-color: var(--darker-blue);
}

li .social-button:active {
    background-color: var(--darkest-blue);
}


/* sorting */

.search-results {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
}

ul.sorting {
    list-style: none;
}

.sorting-header {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
}

a.active-item {
    color: var(--light-blue);
    opacity: 100;
    text-decoration: none;
}

.sorting-tag {
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    opacity: 0.3;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.sorting-tag:hover {
    color: var(--light-blue)
}

.sorting-tag:active {
    color: var(--black);
    opacity: 100;
}


/* results */

ul.hotels {
    list-style: none;
}

.item-header-catalog {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
}

.hotel-name:hover {
    color: var(--light-blue);
}

.hotel-name:active {
    color: var(--black);
    opacity: 0.3;
}

.location-type-price {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--light-black)
}

.rating {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    background-color: var(--filter-input-grey);
}

.stars {
    background-color: var(--light-blue);
}

.control {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--white);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 17px;
    padding-left: 16px;
}

.details {
    background-color: var(--light-blue);
}

.details:hover {
    background-color: var(--darker-blue);
}

.details:active {
    background-color: var(--darkest-blue);
    color: var(--white-opaque);
}

.reservation {
    background-color: var(--brown);
}

.reservation:hover {
    background-color: var(--darkest-brown);
}

.reservation:active {
    background-color: var(--darker-brown);
    color: var(--white-opaque);
}