            /* Variables */
            
             :root {
                --black: #000000;
                --light-black: #333333;
                --white: #FFFFFF;
                --white-opaque: rgba(255, 255, 255, 0.3);
                --light-blue: #81B3D2;
                --darker-blue: #669EC0;
                --darkest-blue: #5496BD;
                --brown: #766357;
                --darker-brown: #604E43;
                --darkest-brown: #503E33;
                --drop-shadow-white-black: rgba(0, 1, 1, 0.2);
                --background-light-grey: #EEEEEE;
                --filter-background-light-grey: rgba(0, 1, 1, 0.15);
                --filter-input-grey: #F2F2F2;
                --footer-grey: rgba(255, 255, 255, 0.9);
                --main-background-gray: #888888;
            }
            /* body */
            
            body {
                min-width: 1200px;
                margin: 0;
                padding: 0;
                font-family: "PT Sans", "Arial", sans-serif;
                text-transform: uppercase;
                text-align: center;
                background-color: var(--filter-input-grey);
                outline: 5px solid rgba(229, 255, 0, 0.7);
                outline-offset: -5px;
            }
            
            a {
                text-decoration: none;
            }
            
            img {
                max-width: 100%;
                height: auto;
            }
            
            .no-bullets {
                list-style: none;
                padding: 0px;
                margin: 0px;
            }
            /* Grid */
            
            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }
            
            .page {
                height: 100%;
            }
            
            .page-body {
                min-height: 100%;
                display: grid;
                grid-template-rows: min-content 1fr min-content;
                align-content: start;
            }
            /* container */
            
            .container {
                width: 1200px;
                margin: 0px auto;
                padding: 0px 40px;
                outline: 5px solid rgba(4, 0, 255, 0.7);
                outline-offset: -5px;
                background-color: var(--white)
            }
            /* Main header */
            
            .main-header {
                outline: 5px solid rgba(0, 255, 0, 0.7);
                outline-offset: -5px;
            }
            /* main navigation */
            
            .main-header-logo {
                width: 138px;
                height: 70px;
                outline: 5px solid rgba(255, 0, 0, 0.3);
                outline-offset: -5px;
                justify-self: center;
                /* position: absolute; */
            }
            
            .site-navigation a {
                font-size: 14px;
                line-height: 26px;
                font-weight: 700;
                color: var(--black);
                text-align: center;
            }
            
            .site-navigation li {
                width: 240px;
                text-align: left;
            }
            
            .site-navigation li:nth-child(3) {
                text-align: right;
            }
            
            .site-navigation li:nth-child(4) {
                text-align: right;
            }
            
            .site-navigation {
                outline: 5px solid rgba(0, 255, 255, 0.3);
                outline-offset: -5px;
                display: flex;
                padding: 15px 72px;
                height: 56px;
            }
            /*index-page*/
            /* slogan */
            
            .text-slogan {
                font-size: 21px;
                line-height: 26px;
                font-weight: 700;
                color: var(--black);
                margin: 0;
                text-align: center;
                padding-top: 42.5px;
                padding-bottom: 0px;
                padding-left: 365px;
                padding-right: 365px;
            }
            /* features */
            
            .features-header {
                font-size: 14px;
                line-height: 26px;
                font-weight: 400;
                color: var(--light-black);
                text-align: center;
                margin: 0px;
                padding-top: 15px;
                padding-bottom: 51px;
            }
            
            .features-list {
                margin: 0px;
                padding: 0px;
            }
            
            .part-one {
                display: grid;
                grid-template-columns: 400px auto;
                margin: 0px;
                padding: 0px;
            }
            
            .part-two {
                display: grid;
                grid-template-columns: auto 400px;
                margin: 0px;
                padding: 0px;
            }
            
            .part-three {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column: 1/-1;
            }
            
            .feature-list-header {
                font-size: 21px;
                line-height: 21px;
                font-weight: 700;
                color: var(--black);
                text-align: center;
            }
            
            .feature-list-text {
                font-size: 14px;
                line-height: 21px;
                font-weight: 400;
                color: var(--light-black);
                text-align: center;
            }
            
            .blue-item {
                background-color: var(--light-blue);
                color: var(--white);
                width: 400px;
                padding: 0px;
                margin: 0px;
            }
            
            .grey-item {
                background-color: var(--background-light-grey);
            }
            /* advice */
            
            .advices-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column: 1/-1;
            }
            
            .item-text {
                margin: 25px;
            }
            
            .item-header {
                font-size: 21px;
                line-height: 21px;
                font-weight: 700;
                color: var(--black);
                text-align: center;
            }
            
            .item-text {
                font-size: 14px;
                line-height: 21px;
                font-weight: 400;
                color: var(--light-black);
                text-align: center;
            }
            /* searching form */
            
            .searching-question {
                font-size: 30px;
                line-height: 24px;
                font-weight: 700;
                color: var(--black);
                text-align: center;
            }
            
            .searching-form-text {
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                color: var(--light-black);
                text-align: center;
            }
            
            .searching-form-button {
                font-size: 21px;
                line-height: 26px;
                font-weight: 700;
                color: var(--white);
                background-color: var(--brown);
                text-align: center;
                vertical-align: middle;
            }
            
            .searching-form-button:hover {
                background-color: var(--darker-brown);
            }
            
            .searching-form-button:active {
                background-color: var(--darkest-brown);
                color: var(--white-opaque);
            }
            
            .search-button {
                font-size: 21px;
                line-height: 26px;
                font-weight: 700;
                background-color: var(--light-blue);
                color: var(--white);
            }
            
            .search-button:hover {
                background-color: var(--darker-blue);
            }
            
            .search-button:active {
                background-color: var(--darkest-blue);
                color: var(--white-opaque);
            }
            /* footer */
            
            .main-footer {
                outline: 5px solid rgba(255, 0, 0, 0.7);
                outline-offset: -5px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            
            .footer-contacts a {
                font-size: 21px;
                line-height: 26px;
                font-weight: 700;
                text-transform: none;
                color: var(--black);
            }
            
            .footer-contacts-list {
                outline: 5px solid rgba(0, 255, 255, 0.7);
                outline-offset: -5px;
            }
            
            .footer-copyright {
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                color: var(--black);
                outline: 5px solid rgba(255, 0, 255, 0.7);
                outline-offset: -5px;
                padding: 0px;
                margin: 0px;
            }
            
            .footer-social {
                outline: 5px solid rgba(0, 255, 0, 0.7);
                outline-offset: -5px;
            }
            
            li .social-button {
                background-color: var(--light-blue);
            }
            
            li .social-button:hover {
                background-color: var(--darker-blue);
            }
            
            li .social-button:active {
                background-color: var(--darkest-blue);
            }
            /*hotels-catalog-page*/
            /* sorting */
            
            .search-wrapper {
                display: flex;
                justify-content: space-around;
            }
            
            .sorting-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            
            .search-results {
                font-size: 21px;
                line-height: 26px;
                font-weight: 700;
                color: var(--black);
            }
            
            .sorting-header {
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
                color: var(--black);
                text-align: center;
            }
            
            a.active-item {
                color: var(--light-blue);
                opacity: 100;
                text-decoration: none;
            }
            
            .sorting-tag {
                font-size: 12px;
                line-height: 18px;
                color: var(--black);
                opacity: 0.3;
                text-decoration: underline;
                text-decoration-style: dotted;
            }
            
            .sorting-tag:hover {
                color: var(--light-blue)
            }
            
            .sorting-tag:active {
                color: var(--black);
                opacity: 100;
            }
            /* hotels */
            
            .hotels h3 {
                margin: 0px;
                padding-bottom: 7px;
            }
            
            .hotel-name {
                font-size: 21px;
                line-height: 26px;
                font-weight: 700;
                color: var(--black);
            }
            
            .hotel-name:hover {
                color: var(--light-blue);
            }
            
            .hotel-name:active {
                color: var(--black);
                opacity: 0.3;
            }
            
            .price {
                font-size: 14px;
                line-height: 21px;
                font-weight: 400;
                color: var(--light-black);
                padding-bottom: 15.5px;
            }
            
            .control {
                font-size: 14px;
                line-height: 21px;
                font-weight: 700;
                color: var(--white);
                padding-top: 3px;
                padding-bottom: 3px;
                padding-right: 17px;
                padding-left: 16px;
            }
            
            .control-details {
                background-color: var(--light-blue);
            }
            
            .control-details:hover {
                background-color: var(--darker-blue);
            }
            
            .control-details:active {
                background-color: var(--darkest-blue);
                color: var(--white-opaque);
            }
            
            .control-reservations {
                background-color: var(--brown);
            }
            
            .control-reservations:hover {
                background-color: var(--darkest-brown);
            }
            
            .control-reservations:active {
                background-color: var(--darker-brown);
                color: var(--white-opaque);
            }
            
            .number {
                font-size: 14px;
                line-height: 21px;
                font-weight: 400;
                background-color: var(--filter-input-grey);
                padding-top: 3px;
                padding-bottom: 3px;
                padding-right: 12px;
                padding-left: 15px;
                text-align: center;
                margin: 0px;
            }
            
            .star {
                color: var(--light-blue);
                font-size: 14px;
                line-height: 21px;
                padding-bottom: 47px;
                margin: 0px;
            }
            /*hotels-grid*/
            
            .hotels li {
                display: flex;
                padding-bottom: 31px;
            }
            
            .hotels .hotel-details {
                flex-grow: 1;
                text-align: left;
            }
            
            .hotels .picture {
                width: 250px;
            }
            
            .hotels .rating {
                width: 110px;
            }
            
            .hotels .price span {
                width: 150px;
                display: inline-block;
            }