/* Variables */

 :root {
    --black: #000000;
    --light-black: #333333;
    --white: #FFFFFF;
    --white-opaque: rgba(255, 255, 255, 0.3);
    --light-blue: #81B3D2;
    --darker-blue: #669EC0;
    --darkest-blue: #5496BD;
    --brown: #766357;
    --darker-brown: #604E43;
    --darkest-brown: #503E33;
    --drop-shadow-white-black: rgba(0, 1, 1, 0.2);
    --background-light-grey: #EEEEEE;
    --filter-background-light-grey: rgba(0, 1, 1, 0.15);
    --filter-input-grey: #F2F2F2;
    --footer-grey: rgba(255, 255, 255, 0.9);
    --main-background-gray: #888888;
}


/* body */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--filter-input-grey);
    /*outline: 5px solid rgba(229, 255, 0, 0.7);
    outline-offset: -5px;*/
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.no-bullets {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Grid */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
}


/* container */

.container {
    width: 1200px;
    margin: 0px auto;
    padding: 0px;
    /*outline: 5px solid rgba(4, 0, 255, 0.7);
    outline-offset: -5px;*/
    background-color: var(--white);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    min-height: 100vh;
    position: relative;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}


/* main navigation */

.main-header-logo {
    width: 138px;
    height: 70px;
    justify-self: center;
    position: absolute;
    top: 0px;
    left: 531px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.site-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
}

.site-navigation li {
    width: 300px;
    text-align: left;
}

.site-navigation li:nth-child(1) {
    padding-left: 73px;
}

.site-navigation li:nth-child(3) {
    text-align: right;
}

.site-navigation li:nth-child(4) {
    text-align: right;
    padding-right: 73px;
}


/*index-page*/


/* slogan */

.image-slogan {
    padding-top: 77.35px;
    padding-bottom: 80.76px;
    padding-left: 371.38px;
    padding-right: 371.96px;
    height: 508.5px;
    background-image: url(../img/welcome-bottom.png), url(../img/background-mountains.jpg);
    background-position: bottom, center;
    background-color: var(--darkest-blue);
    background-repeat: no-repeat, no-repeat;
}

.text-slogan {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
    margin: 0;
    text-align: center;
    padding-top: 42.5px;
    padding-bottom: 45px;
    padding-left: 365px;
    padding-right: 365px;
}


/* features */

.features-header {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--light-black);
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 51px;
    padding-left: 340px;
    padding-right: 341px;
}

.feature-list-header {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    margin: 0px;
    padding-top: 50px;
    padding-left: 125px;
    padding-right: 125px;
    align-self: center;
}

.feature-list-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--light-black);
    text-align: center;
    margin: 0px;
    padding-top: 24px;
    padding-left: 47px;
    padding-right: 47px;
}

.blue-item {
    background-color: var(--light-blue);
    color: var(--white);
    width: 400px;
    padding: 0px;
    margin: 0px;
    height: 256px;
}

.white-font {
    color: var(--white);
}

.feature-list-image-one {
    background-image: url(../img/feature-1.jpg);
}

.feature-list-image-two {
    background-image: url(../img/feature-2.jpg);
}

.grey-item {
    background-color: var(--background-light-grey);
    height: 256px;
}

.grey-item .feature-list-header {
    padding-top: 47px;
}

.grey-item .feature-list-text {
    padding-left: 77px;
    padding-right: 77px;
}


/* advice */

.features-list {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.part-one {
    display: grid;
    grid-template-columns: 400px 800px;
    grid-column: 1/-1;
}

.advices-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
    height: 329px;
}

.icon-house {
    background-image: url(../img/icon-house.svg);
    background-position: center 57px;
    background-repeat: no-repeat;
}

.icon-food {
    background-image: url(../img/icon-burger.svg);
    background-position: center 57px;
    background-repeat: no-repeat;
}

.icon-souvenir {
    background-image: url(../img/icon-gift.svg);
    background-position: center 57px;
    background-repeat: no-repeat;
}

.part-two {
    display: grid;
    grid-template-columns: 800px 400px;
    grid-column: 1/-1;
}

.item-text {
    padding-top: 23px;
    padding-bottom: 72px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--light-black);
    /*text-align: center;*/
    align-items: center;
}

.item-header {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: var(--black);
    padding-top: 160px;
    align-items: center;
    margin: 0px;
}


/* searching form */

.searching-form-header {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    padding-top: 58px;
    padding-bottom: 24px;
    margin: 0px;
}

.searching-form-info {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--light-black);
    text-align: center;
    padding-bottom: 40px;
    margin: 0px;
    padding-top: 10px;
}


/*Searching-box*/

.searching-box-form {
    width: 568px;
}

.searching-box-item {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    padding-top: 29px;
    margin: 0px;
}

.searching-box-label {}

.searching-box-item input {
    background-color: var(--filter-input-grey);
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 200px;
}

.searching-box-item ::placeholder {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
}

.guests {
    padding-bottom: 54px;
}

.guests input {
    width: 114px;
}

.searching-box-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--brown);
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 30px;
    width: 568px;
    align-self: center;
    border: none;
    letter-spacing: 1px;
}

.searching-box-button:hover {
    background-color: var(--darker-brown);
}

.searching-box-button:active {
    background-color: var(--darkest-brown);
    color: var(--white-opaque);
}

.search-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    background-color: var(--light-blue);
    color: var(--white);
    width: 458px;
    padding-bottom: 15px;
    padding-top: 15px;
    align-self: center;
    border: none;
    text-transform: uppercase;
}

.search-button:hover {
    background-color: var(--darker-blue);
}

.search-button:active {
    background-color: var(--darkest-blue);
    color: var(--white-opaque);
}

.map {
    background-image: url(../img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 594px;
}


/* footer */

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0px;
    background-color: #FFFFFF;
    opacity: 90%;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer-contacts a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: none;
    color: var(--black);
    margin: 0px;
    padding-top: 0px;
}

.footer-copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: var(--black);
    padding-top: 49px;
    margin: 0px;
    background-image: url(../img/logo-htmlacademy.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 120px;
    padding-left: 63px;
    text-align: left;
}

.footer-copyright .button {
    color: var(--black);
}

.footer-social {
    align-items: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 150px;
    margin: 0px auto;
    padding: 0px;
}

.social-button {
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
}

.social-button:hover {
    background-color: var(--darker-blue);
}

.social-button:active {
    background-color: var(--darkest-blue);
}

.social-button:active path {
    fill-opacity: 0.3;
}


/*hotels-catalog-page*/


/* sorting */

.search-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    margin-left: 73px;
}

.sorting-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
}

.search-results {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
    margin: 0px;
    text-align: left;
}

.sorting-header {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
}

a.active-item {
    color: var(--light-blue);
    opacity: 100;
    text-decoration: none;
}

.sorting-tag {
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    opacity: 0.3;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.sorting-tag:hover {
    color: var(--light-blue)
}

.sorting-tag:active {
    color: var(--black);
    opacity: 100;
}


/* hotels */

.hotels h3 {
    margin: 0px;
    padding-bottom: 7px;
}

.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--black);
}

.hotel-name:hover {
    color: var(--light-blue);
}

.hotel-name:active {
    color: var(--black);
    opacity: 0.3;
}

.price {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--light-black);
    padding-bottom: 15.5px;
}

.control {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--white);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 17px;
    padding-left: 16px;
}

.control-details {
    background-color: var(--light-blue);
}

.control-details:hover {
    background-color: var(--darker-blue);
}

.control-details:active {
    background-color: var(--darkest-blue);
    color: var(--white-opaque);
}

.control-reservations {
    background-color: var(--brown);
}

.control-reservations:hover {
    background-color: var(--darkest-brown);
}

.control-reservations:active {
    background-color: var(--darker-brown);
    color: var(--white-opaque);
}

.number {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    background-color: var(--filter-input-grey);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 12px;
    padding-left: 15px;
    text-align: center;
    margin: 0px;
}

.star {
    color: var(--light-blue);
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 47px;
    margin: 0px;
}


/*hotels-grid*/

.hotels li {
    display: flex;
    padding-bottom: 31px;
    padding: 30px 0px;
}

.hotels .hotel-details {
    flex-grow: 1;
    text-align: left;
    padding-left: 29px;
}

.hotels .picture {
    width: 135px;
    margin-left: 73px;
}

.hotels .rating {
    padding: 3px 3px 12px 15px;
    margin-right: 73px;
    text-align: right;
}